@charset "UTF-8";
/*@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";  

@import "pages/home";
*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #5c5757;
  font-weight: 300;
  line-height: 1.6;
  box-sizing: border-box; }

/*::selection {
  background-color: $color-primary;
  color: $color-white;
}*/
.container {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 0.1fr) [just-start] minmax(6rem, 0.3fr) [center-start] repeat(8, [col-start] minmax(min-content, 22rem) [col-end]) [center-end] minmax(6rem, 0.3fr) [just-start] minmax(6rem, 0.1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  .container__bw {
    display: grid;
    grid-template-rows: min-content 3vh min-content min-content;
    grid-template-columns: [page-start] minmax(6rem, 0.2fr) [full-start] minmax(10rem, 0.23fr) [just-start] minmax(6rem, 0.03fr) [center-start] minmax(min-content, 60vw) [center-end] minmax(6rem, 0.03fr) [just-start] minmax(10rem, 0.23fr) [full-end] minmax(6rem, 0.2fr); }
    @media only screen and (max-width: 50em) {
      .container__bw {
        grid-template-columns: [page-start] minmax(6rem, 0.1fr) [full-start] minmax(10rem, 0.2fr) [just-start] minmax(6rem, 0.02fr) [center-start] minmax(min-content, 60vw) [center-end] minmax(6rem, 0.02fr) [just-start] minmax(10rem, 0.2fr) [full-end] minmax(6rem, 0.1fr); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }
  @media only screen and (max-height: 37.5em) {
    body {
      line-height: 1.2;
      font-weight: 300; } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  @media only screen and (max-height: 37.5em) {
    .heading-primary {
      margin-bottom: 3rem; } }
  .heading-primary--bwmain {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--bwmain {
        letter-spacing: 1.5rem;
        font-weight: 250;
        font-size: 3rem; } }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*  @media only screen and (max-width: $bp-largest) {
      letter-spacing: 2rem;
      font-weight: 250;
      //font-size: 5rem;
    }

    @media only screen and (max-width: $bp-large) {
      letter-spacing: 1.5rem;
      font-weight: 200;
      //font-size: 4rem;
    }*/
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 112.5em) {
      .heading-primary--main {
        letter-spacing: 2.5rem;
        font-weight: 300;
        font-size: 5rem; } }
    @media only screen and (max-width: 50em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-weight: 150;
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.5rem;
        font-weight: 100;
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 50em) {
      .heading-primary--sub {
        letter-spacing: 1rem;
        font-weight: 500;
        font-size: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-weight: 300;
        font-size: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #e8a1eb, #ad10a6);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.paragraph__listitem {
  font-size: 1.6rem; }
  .paragraph__listitem:not(:last-child) {
    margin-bottom: 1.5rem; }

ol,
ul {
  padding-left: 3vw; }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f7f7f7; }
  .heading-4--dark {
    color: #745aeb; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 10rem; }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 6rem;
      align-items: start; } }

.features2 {
  grid-column: center-start / center-end;
  margin: 10rem 10rem; }
  @supports (display: grid) {
    .features2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      grid-template-rows: min-content;
      grid-gap: 6rem;
      align-items: start; } }

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    fill: #745aeb;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.6rem;
    color: #bbaff0; }
  .feature:hover {
    transform: translateY(-1.5rem) scale(1.3); }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.icon-red {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  stroke-width: 0;
  stroke: #ee1616;
  fill: #ee1616; }

.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-font-2 {
  font-size: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  background-color: #f7f7f7;
  grid-column: full-start / -1;
  background-image: linear-gradient(to right bottom, rgba(232, 161, 235, 0.8), rgba(173, 16, 166, 0.8)), url(../img/header1.jpg);
  background-size: cover;
  background-position: top;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 10rem max-content minmax(6rem, min-content);
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  grid-row-gap: 1.5rem;
  justify-content: center; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  .header__logo {
    height: 3rem;
    justify-self: center;
    align-items: center; }
  .header__logo-box {
    top: 4rem;
    left: 4rem; }
  .header__text-box {
    grid-row: 2;
    grid-column: 2;
    text-align: center; }
    @media only screen and (max-height: 37.5em) {
      .header__text-box {
        grid-row: 1; } }
  .header__btn {
    align-self: start;
    justify-self: start; }
  @media only screen and (max-height: 37.5em) {
    .header {
      padding: 2rem;
      padding-top: 1rem; } }
  @media only screen and (max-width: 112.5em) {
    .header {
      /*grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      ) [center-end] minmax(6rem, 1fr) [full-end];*/
      padding: 4rem;
      padding-top: 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      height: 65vh;
      grid-row-gap: 1rem;
      /*@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      height: 65vh;
    }*/ } }

.navigation {
  opacity: 1;
  width: 0;
  /*&__checkbox:checked {
    transform: translateX(300rem);
  }*/ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        top: 3.5rem;
        right: 3.5rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#e8a1eb, #ad10a6);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        top: 3.5rem;
        right: 3.5rem; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link {
    /*&:active {
      display: none;
    }*/ }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 220%;
      transition: all 0.4s; }
      .navigation__link:link span, .navigation__link:visited span {
        margin-right: 1rem;
        display: inline-block; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: #c155c5;
      transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    z-index: 1500;
    opacity: 1;
    width: 100%;
    height: 100vh; }
  .navigation__icon {
    position: relative;
    margin-top: 3.3rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.footer {
  background-color: #ad10a6;
  grid-column: full-start / full-end;
  padding: 3rem;
  align-self: center; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      padding: 1rem; } }

.footnav {
  list-style: none;
  padding: 1.5rem;
  padding-left: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 0.25fr));
  grid-gap: 1.5rem;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 600; }
  @media only screen and (max-width: 62.5em) {
    .footnav {
      padding: 1rem;
      padding-left: 3rem;
      grid-gap: 1; } }
  @media only screen and (max-width: 50em) {
    .footnav {
      padding: 0.5rem;
      padding-left: 1rem;
      grid-gap: 0.5; } }
  .footnav__item {
    align-items: center; }
  .footnav__link:link, .footnav__link:visited {
    font-size: 1.4rem;
    color: #e4c6e6;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    display: inline-block;
    background-color: transparent;
    outline: none;
    transition: all 0.3s; }
    @media only screen and (max-width: 62.5em) {
      .footnav__link:link, .footnav__link:visited {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 50em) {
      .footnav__link:link, .footnav__link:visited {
        font-size: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .footnav__link:link, .footnav__link:visited {
        font-size: 0.8rem; } }
  .footnav__link:hover, .footnav__link:active {
    outline: none;
    background-color: #ad10a6;
    transform: rotate(5deg) scale(1.3);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }

.copyright {
  font-size: 1.4rem;
  color: #eee;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
  @media only screen and (max-width: 37.5em) {
    .copyright {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .copyright {
      font-size: 1rem; } }

.section-about {
  grid-column: full-start / full-end;
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  display: grid;
  /*grid-template-columns:
    [full-start] minmax(6rem, 0.05fr)
    [just-start] minmax(6rem, 0.35fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 22rem) [col-end])
    [center-end] minmax(6rem, 0.35fr)
    [just-start] minmax(6rem, 0.05fr)
    [full-end];
*/
  grid-template-columns: [full-start] minmax(6rem, 0.01fr) [just-start] minmax(6rem, 0.02fr) [center-start] minmax(min-content, 0.94fr) [center-end] minmax(6rem, 0.02fr) [just-start] minmax(6rem, 0.01fr) [full-end]; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  grid-row: 2;
  grid-column: full-start / full-end;
  display: grid;
  padding: 20rem 0;
  padding-top: 10rem;
  background-image: linear-gradient(to right bottom, rgba(232, 161, 235, 0.8), rgba(173, 16, 166, 0.8)), url(../img/features1.jpg);
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -15rem; }
  .section-features > * {
    transform: skewY(6deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-cards {
  grid-column: full-start / full-end;
  padding: 10rem 0 10rem 0;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: [full-start] minmax(6rem, 0.15fr) [just-start] minmax(6rem, 0.05fr) [card-start] repeat(3, [col-start] minmax(min-content, 52rem) [col-end]) [card-end] minmax(6rem, 0.05fr) [just-start] minmax(6rem, 0.15fr) [full-end];
  grid-gap: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .section-cards {
      padding: 20rem 0 10rem 0; } }
  @media only screen and (max-width: 62.5em) {
    .section-cards {
      padding: 5rem 0 5rem 0;
      grid-template-columns: [full-start] minmax(3rem, 0.01fr) [just-start] minmax(3rem, 0.02fr) [card-start] repeat(3, [col-start] minmax(min-content, 62rem) [col-end]) [card-end] minmax(3rem, 0.02fr) [just-start] minmax(3rem, 0.01fr) [full-end];
      grid-gap: 2rem; } }

.cardrow {
  grid-column: card-start / card-end;
  padding-top: 1.5rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: [card-start] repeat(3, [col-start] minmax(max-content, 52rem) [col-end]) [card-end];
  grid-gap: 10rem; }
  @media only screen and (max-width: 62.5em) {
    .cardrow {
      padding: 5rem 0 5rem 0;
      grid-template-columns: [card-start] repeat(3, [col-start] minmax(max-content, 52rem) [col-end]) [card-end];
      grid-gap: 2rem; } }
  @media only screen and (max-width: 50em) {
    .cardrow {
      padding: 5rem 0 5rem 0;
      grid-template-columns: [card-start] repeat(1, [col-start] minmax(max-content, 152rem) [col-end]) [card-end];
      grid-gap: 2rem; } }

.section-stories {
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.bookrow {
  grid-column: 1 / -1;
  padding-top: 1.5rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: [text-start] minmax(6rem, 15vw) [form-start] minmax(6rem, 70vw) [form-end] minmax(6rem, 15vw) [text-end]; }

.section-book {
  grid-column: full-start / full-end;
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #e8a1eb, #ad10a6);
  display: grid;
  grid-template-rows: 80vh;
  grid-template-columns: [full-start] minmax(6rem, 0.35fr) [just-start] minmax(6rem, 0.05fr) [center-start] repeat(8, [col-start] minmax(min-content, 22rem) [col-end]) [center-end] minmax(6rem, 0.35fr) [just-start] minmax(6rem, 0.05fr) [full-end]; }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  grid-column: form-start / form-end;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/book1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url("../img/book1.jpg");
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../img/book1.jpg"); } }
  .book__form {
    width: 50%;
    padding: 3rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: [text-start] minmax(6rem, 70vw) [pics-start] minmax(6rem, 30vw) [pics-end]; }
  @media only screen and (max-width: 50em) {
    .about {
      padding: 0; } }
  .about__text {
    grid-column: text-start / pics-start;
    padding-right: 20rem;
    padding-top: 1rem; }
    @media only screen and (min-width: 75em) {
      .about__text {
        top: -8rem; } }
    @media only screen and (max-width: 62.5em) {
      .about__text {
        padding-right: 10rem; } }
    @media only screen and (max-width: 50em) {
      .about__text {
        padding-right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__text {
        grid-template-rows: min-content min-content min-content;
        grid-template-columns: [text-start] minmax(6rem, 100vw) [text-end]; } }
  .about__pics {
    grid-column: pics-start / pics-end;
    padding-top: 10rem; }
    @media only screen and (min-width: 75em) {
      .about__pics {
        padding-top: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__pics {
        grid-column: 1 / -1;
        grid-row: 2; } }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 15rem 0; } }

.row {
  grid-column: 1 / -1;
  padding-top: 5rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: [text-start] minmax(6rem, 70vw) [pics-start] minmax(6rem, 30vw) [pics-end]; }
  @media only screen and (max-width: 37.5em) {
    .row {
      grid-template-rows: min-content min-content min-content;
      grid-template-columns: [text-start] minmax(6rem, 100vw) [text-end]; } }

.u-center-text {
  grid-column: 1 / -1;
  text-align: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--pink {
  background-color: #c155c5;
  color: #fff; }
  .btn--pink::after {
    background-color: #c155c5; }

.btn--blue-lightest-2 {
  background-color: #bbaff0;
  color: #ffb900; }
  .btn--blue-lightest-2::after {
    background-color: #bbaff0; }

.btn--blue-lightest {
  background-color: #bbaff0;
  color: #fff; }
  .btn--blue-lightest::after {
    background-color: #bbaff0; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #c155c5;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #c155c5;
  padding: 3px;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #e4c6e6;
  color: #c155c5;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  animation: pulsate 1s infinite; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px);
  animation: pulsate 1s infinite; }

.btn-inline {
  border: none;
  font-size: 1.6rem;
  color: #c155c5;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding: 3px;
  display: inline-block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .btn-inline--pink {
    background-color: #e4c6e6; }
  .btn-inline:hover {
    background-color: #e4c6e6;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus, .btn-inline:hover {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    animation: pulsate 1s infinite; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #e8a1eb, #ad10a6);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .composition__photo {
        width: 40%; } }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    @media only screen and (max-width: 37.5em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (min-width: 75em) {
        .composition__photo--p1 {
          top: -11rem; } }
      @media only screen and (max-width: 62.5em) {
        .composition__photo--p1 {
          top: -2rem;
          left: 10rem; } }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2);
          left: 0; } }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 62.5em) {
        .composition__photo--p2 {
          right: -5rem;
          top: 0; } }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p2 {
          top: 10rem;
          right: -20rem !important;
          transform: scale(1.3);
          z-index: 100; } }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 62.5em) {
        .composition__photo--p3 {
          top: 15rem;
          left: 30%; } }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p3 {
          top: 0;
          left: 8rem;
          transform: scale(1.2); } }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 0.5rem solid #c155c5;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 1.5rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 4px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #c155c5; }
  .form__input:focus:invalid {
    border-bottom: 4px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #5c5757; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #c155c5;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c155c5;
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.login__line {
  background-color: #c155c5;
  left: 1.5rem;
  width: 90%;
  height: 2px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.link__group {
  display: grid;
  width: 90%;
  grid-template-rows: min-content;
  grid-template-columns: [link-start] minmax(6rem, 35vw) [link-end] minmax(6rem, 35vw) [linkright-end]; }

.btnbook-inline {
  border: none;
  margin-top: 0.5rem;
  font-size: 1.6rem;
  color: #c155c5;
  grid-column: link-start / link-end;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  /*&:hover {
    //color: var(--color-grey-dark-1);
    background-color: $color-primary-lightest;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);

    span {
      margin-left: 8px;
    }
  }*/
  /*&:focus,
  &:hover {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    animation: pulsate 1s infinite;
  }*/ }

.btnbook-inline__right {
  grid-column: 2 / -1;
  border: none;
  margin-top: 0.5rem;
  font-size: 1.6rem;
  color: #c155c5;
  padding: 0;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-align: right; }

.card {
  grid-column: col-start / col-end;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #e8a1eb, #ad10a6); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #745aeb, #2d1eb6); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/header1.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #e8a1eb, #ad10a6), url("../img/features1.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #745aeb, #2d1eb6), url("../img/pilt3.jpg"); }
  .card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    /*kuna text ei ole ilusti asetatud vaid on liiga servas siis sellele on trick, kui lase läheb teisele reale, siis parameetreid võetakse mõlemale eraldi. webkit, kuna chromes ei tööta muidu*/
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(232, 161, 235, 0.85), rgba(173, 16, 166, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(116, 90, 235, 0.85), rgba(45, 30, 182, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
    @media only screen and (max-width: 62.5em) {
      .card__details {
        padding: 2rem;
        line-height: 1; } }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.3rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4rem;
    font-weight: 300; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      width: 25rem;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }
  @media only screen and (max-width: 50em) {
    .card {
      width: 40rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 30rem; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #eee;
    box-shadow: 0 2rem 4rem rbga(#000, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.33333%;
    display: table-cell; }
  .popup__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #c155c5; }

.linkbw__group {
  display: grid;
  width: 100%;
  grid-template-rows: min-content; }

.bw_menu {
  grid-column: full-start / center-start;
  position: fixed;
  box-sizing: border-box;
  padding: 1% 5% 1% 5%;
  z-index: 2000; }

.btnbw-inline {
  border: none;
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #c155c5;
  grid-column: link-start / link-end;
  padding: 0.5rem;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  outline: none;
  cursor: pointer; }

.btnbwline-inline {
  border: none;
  font-size: 1.6rem;
  color: #c155c5;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding: 3px;
  display: inline-block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.2s; }
  .btnbwline-inline span {
    margin-left: 3px;
    transition: margin-left 0.3s; }
  .btnbwline-inline--pink {
    background-color: #e4c6e6; }
  .btnbwline-inline:hover {
    background-color: #e4c6e6;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .btnbwline-inline:hover span {
      margin-left: 8px; }
  .btnbwline-inline:focus, .btnbwline-inline:hover {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    animation: pulsate 1s infinite; }

.bwheader {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  grid-column: full-start / -1;
  background-image: url(../img/babywatch_header.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  padding-top: 2rem;
  display: grid;
  grid-template-rows: 25rem;
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  grid-row-gap: 1rem;
  justify-content: center; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .bwheader {
      height: 30vh; } }
  .bwheader__logo {
    height: 4rem;
    justify-self: center;
    align-items: center; }
  .bwheader__logo-box {
    top: 5rem;
    left: 5rem; }
  .bwheader__text-box {
    grid-row: 1;
    grid-column: 2;
    text-align: center; }
    @media only screen and (max-height: 37.5em) {
      .bwheader__text-box {
        grid-row: 1; } }
    .bwheader__text-box:hover, .bwheader__text-box:active {
      outline: none;
      background-color: transparent;
      transform: rotate(-5deg) scale(1.2); }
  .bwheader__btn {
    align-self: start;
    justify-self: start; }
  @media only screen and (max-height: 37.5em) {
    .bwheader {
      padding: 2rem;
      padding-top: 1rem;
      height: 15vh; } }
  @media only screen and (max-width: 112.5em) {
    .bwheader {
      /*grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      ) [center-end] minmax(6rem, 1fr) [full-end];*/
      padding: 2rem;
      padding-top: 2rem;
      height: 15vh;
      grid-row-gap: 1rem;
      /*@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      height: 65vh;
    }*/ } }

.body-all {
  grid-column: center-start / center-end;
  grid-row: 3;
  padding: 5% 5% 5% 5%;
  box-sizing: border-box; }

.entry__body {
  padding-top: 25rem; }
  @media only screen and (max-height: 37.5em) {
    .entry__body {
      padding-top: 10rem; } }

.footerbw {
  background-color: #ad10a6;
  grid-column: full-start / full-end;
  padding: 0.5rem;
  align-self: center; }
  @media only screen and (max-width: 62.5em) {
    .footerbw {
      padding: 0.5rem; } }

.footnavbw {
  list-style: none;
  padding: 0.5rem;
  padding-left: 50rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 0.15fr));
  grid-gap: 1rem;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 600; }
  @media only screen and (max-width: 62.5em) {
    .footnavbw {
      padding: 0.5rem;
      padding-left: 3rem;
      grid-gap: 1; } }
  @media only screen and (max-width: 50em) {
    .footnavbw {
      padding: 0.5rem;
      padding-left: 1rem;
      grid-gap: 0.5; } }
  .footnavbw__item {
    align-items: center; }
  .footnavbw__link:link, .footnavbw__link:visited {
    font-size: 1.4rem;
    color: #e4c6e6;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    display: inline-block;
    background-color: transparent;
    outline: none;
    transition: all 0.3s; }
    @media only screen and (max-width: 62.5em) {
      .footnavbw__link:link, .footnavbw__link:visited {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 50em) {
      .footnavbw__link:link, .footnavbw__link:visited {
        font-size: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .footnavbw__link:link, .footnavbw__link:visited {
        font-size: 0.8rem; } }
  .footnavbw__link:hover, .footnavbw__link:active {
    outline: none;
    background-color: #ad10a6;
    transform: rotate(5deg) scale(1.3);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }

.copyrightbw {
  font-size: 1.4rem;
  color: #eee;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
  @media only screen and (max-width: 37.5em) {
    .copyrightbw {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .copyrightbw {
      font-size: 1rem; } }
