.body-all {
  grid-column: center-start / center-end;
  grid-row: 3;
  padding: 5% 5% 5% 5%;
  margin-top: 12rem;
  //top: 22rem;
  box-sizing: border-box;

  @include respond(phone) {
  }
}

.phone {
  display: hidden;
  background: transparent;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
  opacity: 0;
  z-index: -1500;
  text-align: center;

  @include respond(phone) {
    text-align: center;
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: contents;
    cursor: pointer;
  }
}

.menu__box {
  padding-right: 3rem;
  align-items: top;
  vertical-align: 0;
}

.entry-content {
  //padding-top: 32rem;
}

.entry__body {
  padding-top: 35rem;
  //margin-top: 20rem;
  //padding-bottom: 10rem;

  @media only screen and (max-height: $bp-small) {
    padding-top: 10rem;
  }

  @include respond(phone) {
    font-size: 50%;
    padding-top: 0;
    padding-left: 0;
    align-items: left;
  }
}
