.body-all {
  grid-column: center-start / center-end;
  grid-row: 3;
  padding: 5% 5% 5% 5%;
  //margin-top: 22rem;
  //top: 22rem;
  box-sizing: border-box;
}

.entry-content {
  //padding-top: 32rem;
}

.entry__body {
  padding-top: 35rem;
  //padding-bottom: 10rem;
}
