.about {
  grid-column: center-start / center-end;
  //grid-row: 3;
  //background-color: $color-grey-light-1;
  //et about leht algaks eelmise lehe alumisest nrgast
  //padding: 25rem 0;
  //et hall osa läheks ikkagi üles välja miinusmärgiga
  //margin-top: -20vh;

  display: grid;
  //grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-rows: min-content min-content;
  grid-template-columns:
    [text-start] minmax(6rem, 70vw)
    [pics-start] minmax(6rem, 30vw)
    [pics-end];

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
  }

  &__text {
    grid-column: text-start / pics-start;
    padding-right: 20rem;
    padding-top: 1rem;

    @media only screen and (min-width: $bp-largest) {
      //padding-top: 1rem;
      top: -8rem;
    }

    @media only screen and (max-width: $bp-large) {
      padding-right: 10rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding-right: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-rows: min-content min-content min-content;
      grid-template-columns:
        [text-start] minmax(6rem, 100vw)
        [text-end];
    }
  }

  &__pics {
    grid-column: pics-start / pics-end;
    padding-top: 10rem;
    //grid-row: 2;

    @media only screen and (min-width: $bp-largest) {
      padding-top: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.row {
  grid-column: 1 / -1;
  padding-top: 5rem;
  display: grid;
  //grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-rows: min-content;
  grid-template-columns:
    [text-start] minmax(6rem, 70vw)
    [pics-start] minmax(6rem, 30vw)
    [pics-end];

  @media only screen and (max-width: $bp-small) {
    //grid-column: 1 / -1;
    //grid-row: 3;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns:
      [text-start] minmax(6rem, 100vw)
      [text-end];
  }
}

.u-center-text {
  grid-column: 1 / -1;
  //grid-column: text-start / pics-end;
  text-align: center;
}
